node_modules/
/dist/
/release/
/android/.gradle/
/android/build/
/android/app/build/
/android/capacitor-cordova-android-plugins/build/
/android/app/src/main/assets/public/
/android/local.properties
/android/.idea/
.vite/
.env
.env.local
.DS_Store
*.log
coverage/
tmp/
